/* Transition Scroll */
html {
  scroll-behavior: smooth;
}

/* Main Container */
.navbar-container {
  display: flex;
  justify-content: space-between;
  align-items: center; 
  padding: 1rem 2rem;
  background-color: white;
  color: rgb(51, 51, 51);
  width: 100vw; 
  box-sizing: border-box;
  position: fixed;
  top: 0;
  left: 0;
  z-index: 1000;
  transition: transform 0.3s ease;
}
.navbar-visible {
  transform: translateY(0);
}
.navbar-hidden {
  transform: translateY(-100%);
}

/* Links */
.nav-links {
  display: flex;
  gap: 3rem; 
}
.nav-item-wrapper {
  position: relative;
  display: flex;
  align-items: center;
}
.home-link {
  position: relative;
  display: inline-block;
  color: rgb(51, 51, 51);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.3s ease;
}
.home-link {
  font-weight: bold;
  font-size: 1.4rem;
  letter-spacing: 1px;
}
.nav-item {
  position: relative;
  display: flex;
  color: rgb(51, 51, 51);
  text-decoration: none;
  font-weight: 500;
  transition: color 0.2s ease;
}
/* .nav-item::after,
.home-link::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -2px;
  width: 0;
  height: 2px;
  background-color: currentColor;
  opacity: 0;
  transition: width 0.3s ease, opacity 0.3s ease;
} */
.nav-item:hover,
.home-link:hover {
  color: rgb(140, 140, 140);
}
/* .nav-item:hover::after,
.home-link:hover::after {
  width: 100%;
  opacity: 1;
} */
/* Keep hover effect active when hovering over dropdown */
.nav-item-wrapper:hover .nav-item,
.nav-item-wrapper:hover .home-link {
  color: rgb(140, 140, 140);
}
/* .nav-item-wrapper:hover .nav-item::after,
.nav-item-wrapper:hover .home-link::after {
  width: 100%;
  opacity: 1;
} */
